.ui.top.attached.tabular.menu{
    height:5%;
}

.nowrap {
    white-space: nowrap;
}

.links line {
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke-width: 1.5px;
}

.selectButtonPair{
    height:40px;
}

.infoChartsSmall{
    width:100%;
    height:25%;
}

.infoChartsBig{
    width:100%;
    height:50%;
}

.myInlineDiv{
    padding-right:10px;
    display:inline-block;
}

.listColumn{
    height:100%;
}

#filterPanel{
    height:100%;
}


#entityDegreeFilterFromInput{
    width:100%
}

#entityDegreeFilterToInput{
    width:100%
}


#mainView{
    width:100%;
    height:100%;
}

#nameFilterTab{
    height:95%;
    width:100%;
}

#entityList {
    height:calc(100% - 40px);
    width:100%;
    padding-top: 10px;
    overflow-y: auto;
}

#relatedList {
    height: calc(100% - 40px);
    width: 100%;
    padding-top: 10px;
    overflow-y: auto;
}

#relationFilterListDiv {
    height: 100%;
    width: 100%;
}

#relationList {
     height: 90%;
     width: 100%;
     padding-top: 10px;
     overflow-y: auto;
 }

#relationFilterTab{
    height:95%;
    width:100%;
    overflow:auto;
}

#topFilterBar{
    height:60px;
}

#entityNameFilter {
    height:100%;
}

#entityDegreeFilter{
    height:100%;
}

#entityNameFiterInput {
    min-width: 7em;
    width: 90%;
}

#nameFilterListDiv {
    height: calc(100% - 120px);
    width: 100%;
}

#seedExpander{
    height:60px;
    width:50%;
}

#mainFrame {
    height: 100%;
    padding: 0px;
}

#attentionViewDropdownDiv{
    max-width:50%;
}

#knowledgeGraphTab{
    height:95%;
}

#wordCloudTab{
    height:95%;
}

#knowledgeGraphDiv{
    width:100%;
    height:40%;
}

#attentionView {
    padding:7px 7px 7px 7px!important;
    height: 60%;
    width: 100%;
}

.entitypairEntity{
    border-width:2px;
    border-style:solid;
    border-color:#000;
}

#attentionViewTools{
    height:35px;
}

#attentionViewSentences{
    height:calc(100% - 100px);
    overflow-x: auto;
    overflow-y: auto;
}

#tagEditor{
    height:35px;
}

.attentionSentence{
    width:auto;
}

.sentenceText{
    width:90%;
    display:inline-block;
}

.attentionWord{
    text-align: left;
    display:inline-block;
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align:top
}
#main {
    margin:1rem;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
}

.tooltipm {
    line-height: 1;
    font-weight: bold;
    position: absolute;
    padding: 12px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.6);
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    width: auto;
    color: #fff;
}

/*
body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



.col-sm-6 {
    height: 100%;
}

#selectPanel {
    height: 15%;
}

#clusterDropdown {
    min-width: 7em;
    width: 90%;
}
.fillWidth {
    width: 100%;
}

#boxContainer {
    height: 100%;
    width: 100%;
    text-align: left;
}

#mdsChart {
    height: 30%;
}

#trajectoryPanelContainer {
    height: 20%;
}

#knowledgeGraphDiv {
    width: 60%;
    height: 80%;
    padding-top: 3%;
    text-align: left;
    float: left;
}

#trajectoryFilterSelection {
    width: 40%;
    height: 80%;
    padding-top: 3%;
    text-align: center;
    float: left;
}

#speedFilter {
    height: 20%;
    width: 100%;
    float: left;
}

.trajectoryOption {
    padding-right: 5px;
    width: 48%;
    float: left;
}

#myTimeSlider {
    height: 25%;
    width: 100%;
}

#timeControlPanel {
    height: 25%;
    width: 100%;
}

#scatterChart {
    height: 60%;
}

#scatterControlPanel {
    height: 25%;
    width: 100%;
}

#scatterChartContainer {
    height: 75%;
}

#xScatterSelect {
    width: 100%;
    margin: 1%;
    min-width: 3em;
}

#yScatterSelect {
    width: 100%;
    margin: 1%;
    min-width: 3em;
}

#scatterDropdownContainer {
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
}

#addButtonContainer {
    width: 30%;
    height: 100%;
    padding: 1%;
    float: left;
    text-align: center;
}

.singleScatter {
    height: 50%;
    width: 50%;
    float: left;
}

#boxChart {
    height: 40%;
}

#boxControlPanel {
    text-align: center;
    height: 20%;
}

#yBoxSelect {
    width: 70%;
    margin-right: 1%;
    min-width: 5em;
    float: left;
}

#boxChartContainer {
    height: 70%;
}

.singleBox {
    height: 100%;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.timeTip {
    position: absolute;
    padding: 5px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    text-align: center;
    white-space: nowrap;
}

.boxPlot {
    height: 30%;
}

.box {
    font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
    stroke: #000;
    stroke-width: 1.5px;
}

.box .center {
    stroke-dasharray: 3, 3;
}

.box .outlier {
    fill: none;
    stroke: #ccc;
}

.checkbox {
    margin-top: -5px;
}

rect.selection {
    stroke: black;
    fill: rgba(0, 0, 0, 0.6);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.noUi-target {
    border: 0px;
}

.noUi-horizontal .noUi-handle {
    width: 0px;
    height: 0px;
}

.noUi-handle:before,
.noUi-handle:after {
    width: 0px;
}

.noUi-horizontal {
    bottom: 50%;
}

.uiFont {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.axis {
    font: 13px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.fixedWidthButton {
    width: 70px;
    text-align: center;
}

.brush {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0.6;
    shape-rendering: crispEdges;
}
*/